<div class="container">
  <br>
  <h3>Личный кабинет</h3>
</div>

<form>
  <div class="form-group">
  <label for="option">Логин</label>
  <input type="text" id="option" placeholder="Введите логин"
  class="form-control">
  <br>
  <label for="option">Пароль</label>
  <input type="text" id="option" placeholder="Введите пароль"
  class="form-control">
  <br>
  <button class="btn btn-info">Войти</button>
  </div>
</form>
<form>
  <label for="option">Если еще не зарегистрировался, вперед!</label>
  <br>
  <button class="btn btn-info">Регистрация</button>
</form>
