<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">My angular project</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink='/'>Главная</a>
    <a class="p-2 text-dark" routerLink='/about'>Контакты</a>
    <a class="p-2 text-dark" routerLink='/lk'>Личный кабинет</a>
    <a class="p-2 text-dark" routerLink='/product-list'>Товары</a>

  </nav>
  <a class="btn btn-outline-primary" href="#">Войти</a>
  <br>
  <a routerLink="/cart" class="btn btn-outline-primary">
    <i class="material-icons">shopping_cart</i>Checkout
  </a>
</div>
<router-outlet></router-outlet>
